<div class="word-block">
    <p class="main-word">
        <span id="difficulty-{{dataValues.difficulty}}">{{dataValues.translatedword}}</span>
    </p>
    <p>
        {{dataValues.nativelanguage}} => {{dataValues.nativeword}}
    </p>
    <button class="deletebtn" id={{dataValues.id}}>Delete</button>
    <div class="choose-difficulty">
        {{>vocabs/difficulty}}
    </div>
    <button class="updatebtn" id={{dataValues.id}}>update</button>
</div>