<h1 class="title">Lists</h1>
<div class="list-container">
  {{#each vocabLists}}
  <div class="vocab-list">
    <div class="accordion">

      <h1 class="subtitle">{{name}}</h1>

    </div>

    <div class="panel word-container">
      {{#each Vocabs}}
      {{>vocabs/vocab-block}}
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>

{{!-- List for Update/Delete --}}
<h1 class="title">Update and Delete Lists</h1>
<div class="list-container">
  {{#each vocabLists}}
  <div class="vocab-list">
    <div class="accordion dontdeletedefault">
      {{!-- <div class="list-block"> --}}
      <p class="subtitle">{{name}}</p>
    </div>

    <div class="panel word-container">
      <button class="listdeletebutton" data-value={{id}}>Delete</button>
      <input id={{id}} class="updateinput{{id}}"></input>
      <button class="listupdatebutton" data-value={{id}}>Update</button>
    </div>
    {{!-- </div> --}}
  </div>
{{/each}}
</div>


{{!-- end of List for Update.Delete --}}